<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
      {{# page.description }}
    <meta name="description" content="{{ . }}">
      {{/ page.description }}
    <link rel="shortcut icon" href="{{site.home}}/assets/media/liteide.ico">
    <meta name="author" content="{{ site.author.name }}">

      {{{ assets }}} 
  </head>

  <body>
    <!-- navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{site.home}}">Home</a>
            <ul class="nav navbar-nav">
                <li><a href="{{site.home}}/liteide">LiteIDE X</a></li>
                <li><a href="{{site.home}}/documents">Documents</a></li>
                <li class="dropdown">
                    <a href="{{site.home}}/archive" class="dropdown-toggle" data-toggle="dropdown">
                        Blog 
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{site.home}}/archive">Archive</a></li>
                        <li><a href="{{site.home}}/tags">Tags</a></li>
                        <li><a href="{{site.home}}/categories">Categories</a></li>
                    </ul>
                </li>
                <li><a href="{{site.home}}/about">About</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        {{{ content }}}
      </div>

      <footer>
    		<p>
            &copy; 2011-2017 {{ site.author.name }} <a href="http://github.com/visualfc/liteide" target="_blank" title="LiteIDE">LiteIDE X</a> 
    		<p>
    		<p>
    		感谢 <a href="http://hopehook.com/" target="_blank">HopeHook</a> 提供域名赞助
    		</p>
      </footer>

    </div>

      {{{ google_prettify }}}
      {{{ analytics }}}
  </body>
</html>
