<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
      {{# page.description }}
    <meta name="description" content="{{ . }}">
      {{/ page.description }}
    <link rel="shortcut icon" href="/assets/media/liteide.ico">
    <meta name="author" content="{{ site.author.name }}">

      {{{ assets }}} 

    <script type="text/javascript">
      function Go(obj){
        var url = obj.getAttribute("url");
        var currentPath = location.pathname;
        var destination = "";
        if (currentPath.indexOf("/cn") >= 0){
            destination = "/cn/" + url;
        } else {
            destination = "/en/" + url;
        }
        location.href = destination;
      }

      function GoHome(obj){
        var url = obj.getAttribute("url");
        setCookie("LITEIDE_LANGUAGE", url, 7);
        location.href = "/" + url;
      }
    </script>

  </head>

  <body>
    <!-- navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="javascript:void(0);" onclick="Go(this)" url="" class="logo"></a></li>
                <li><a href="javascript:void(0);" onclick="Go(this)" url="" class="brand">Home</a></li>
                <li><a href="javascript:void(0);" onclick="Go(this)" url="liteide">LiteIDE X</a></li>
                <li><a href="javascript:void(0);" onclick="Go(this)" url="documents">Documents</a></li>
                <li><a href="javascript:void(0);" onclick="Go(this)" url="download">Download</a></li>
                <li><a href="javascript:void(0);" onclick="Go(this)" url="blog">Blog</a></li>
                <li><a href="javascript:void(0);" onclick="Go(this)" url="about">About</a></li>
            </ul>
            <ul class="nav navbar-nav right">
                <li class="dropdown">
                     <a href="/cn" class="dropdown-toggle" data-toggle="dropdown">
                         Language
                     </a>
                     <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);" onclick="GoHome(this)" url="cn">简体中文</a></li>
                        <li><a href="javascript:void(0);" onclick="GoHome(this)" url="en">English</a></li>
                     </ul>
                </li>
                <li><a href="http://visualfc.github.com/support" target="_blank">Donate</a></li>				
            </ul>
        </div>
      </div>
    </div>


    <div class="container">

      <div class="content">
        {{{ content }}}
      </div>

      <footer>
    		<p>
            &copy; 2011-2017 {{ site.author.name }} <a href="http://github.com/visualfc/liteide" target="_blank" title="LiteIDE">LiteIDE X</a> 
    		<p>
    		<p>
    		    Thanks to <a href="http://hopehook.com/" target="_blank">HopeHook</a>
    		</p>
      </footer>

    </div>

      {{{ google_prettify }}}
      {{{ analytics }}}
  </body>
</html>
